
html {
    height: 300px;
    margin-bottom: 10px;
  }
  
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #DCDCDC;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#6495ED), to(#DCDCDC));
    background: linear-gradient(to right, #6495ED,#DCDCDC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
button{
    z-index: 98;
}
nav{
    z-index: 99;
}  

section {
	height: 25%;
	z-index: 100;
}
  
  .snow {
    position: absolute;
    width: 100%;
    height: 19%;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
    -webkit-transform: translate3d(50deg);
            transform: translate3d(50deg);
    -webkit-transform: rotate3d(1, 1.5, 2, -10deg);
            transform: rotate3d(1, 1.5, 2, -10deg);
  }
  
  .snow div {
    position: absolute;
    display: block;
  }
  
  .snow div:nth-child(1) {
    left: 20%;
    -webkit-animation: falling 9s linear infinite;
            animation: falling 9s linear infinite;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
  }
  
  .snow div:nth-child(2) {
    left: 70%;
    -webkit-animation: falling 7s linear infinite;
            animation: falling 7s linear infinite;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
  }
  
  .snow div:nth-child(3) {
    left: 10%;
    -webkit-animation: falling 3s linear infinite;
            animation: falling 3s linear infinite;
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
  }
  
  .snow div:nth-child(4) {
    left: 50%;
    -webkit-animation: falling 8s linear infinite;
            animation: falling 8s linear infinite;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
  }
  
  .snow div:nth-child(5) {
    left: 85%;
    -webkit-animation: falling 5s linear infinite;
            animation: falling 5s linear infinite;
    -webkit-animation-delay: -8s;
            animation-delay: -8s;
  }
  
  .snow div:nth-child(6) {
    left: 15%;
    -webkit-animation: falling 8s linear infinite;
            animation: falling 8s linear infinite;
    -webkit-animation-delay: -10s;
            animation-delay: -10s;
  }
  
  .snow div:nth-child(7) {
    left: 90%;
    -webkit-animation: falling 3s linear infinite;
            animation: falling 3s linear infinite;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
  }
  
  .snow2 {
    position: absolute;
    width: 100%;
    height: 19%;
    top: 0;
    left: 0;
  }
  
  .snow2 div {
    position: absolute;
    display: block;
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
    -webkit-transform: translate3d(50deg);
            transform: translate3d(50deg);
    -webkit-transform: rotate3d(1, 1.5, 2, -15deg);
            transform: rotate3d(1, 1.5, 2, -15deg);
  }
  
  .snow2 div:nth-child(1) {
    left: 10%;
    -webkit-animation: falling 7s linear infinite;
            animation: falling 7s linear infinite;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
  }
  
  .snow2 div:nth-child(2) {
    left: 65%;
    -webkit-animation: falling 5s linear infinite;
            animation: falling 5s linear infinite;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
  }
  
  .snow2 div:nth-child(3) {
    left: 17%;
    -webkit-animation: falling 6s linear infinite;
            animation: falling 6s linear infinite;
    -webkit-animation-delay: -9s;
            animation-delay: -9s;
  }
  
  .snow2 div:nth-child(4) {
    left: 3%;
    -webkit-animation: falling 9s linear infinite;
            animation: falling 9s linear infinite;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
  }
  
  .snow2 div:nth-child(5) {
    left: 75%;
    -webkit-animation: falling 2s linear infinite;
            animation: falling 2s linear infinite;
    -webkit-animation-delay: -7s;
            animation-delay: -7s;
  }
  
  .snow2 div:nth-child(6) {
    left: 10%;
    -webkit-animation: falling 7s linear infinite;
            animation: falling 7s linear infinite;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
  }
  
  .snow2 div:nth-child(7) {
    left: 80%;
    -webkit-animation: falling 4s linear infinite;
            animation: falling 4s linear infinite;
    -webkit-animation-delay: -10s;
            animation-delay: -10s;
  }
  
  .snow3 {
    position: absolute;
    width: 100%;
    height: 19%;
    top: 0;
    left: 0;
  }
  
  .snow3 div {
    position: absolute;
    display: block;
    -webkit-transform: rotateY(-30deg);
            transform: rotateY(-30deg);
    -webkit-transform: translate3d(50deg);
            transform: translate3d(50deg);
    -webkit-transform: rotate3d(1, 1.5, 2, 10deg);
            transform: rotate3d(1, 1.5, 2, 10deg);
  }
  
  .snow3 div:nth-child(1) {
    left: 15%;
    -webkit-animation: falling 5s linear infinite;
            animation: falling 5s linear infinite;
    -webkit-animation-delay: -9s;
            animation-delay: -9s;
  }
  
  .snow3 div:nth-child(2) {
    left: 25%;
    -webkit-animation: falling 4s linear infinite;
            animation: falling 4s linear infinite;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
  }
  
  .snow3 div:nth-child(3) {
    left: 30%;
    -webkit-animation: falling 3s linear infinite;
            animation: falling 3s linear infinite;
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
  }
  
  .snow3 div:nth-child(4) {
    left: 85%;
    -webkit-animation: falling 6s linear infinite;
            animation: falling 6s linear infinite;
    -webkit-animation-delay: -8s;
            animation-delay: -8s;
  }
  
  .snow3 div:nth-child(5) {
    left: 78%;
    -webkit-animation: falling 5s linear infinite;
            animation: falling 5s linear infinite;
    -webkit-animation-delay: -7s;
            animation-delay: -7s;
  }
  
  .snow3 div:nth-child(6) {
    left: 30%;
    -webkit-animation: falling 6s linear infinite;
            animation: falling 6s linear infinite;
    -webkit-animation-delay: -8s;
            animation-delay: -8s;
  }
  
  .snow3 div:nth-child(7) {
    left: 92%;
    -webkit-animation: falling 5s linear infinite;
            animation: falling 5s linear infinite;
    -webkit-animation-delay: -19s;
            animation-delay: -19s;
  }
  
  @keyframes falling {
    0% {
      opacity: 1;
      top: -10%;
      -webkit-transform: translateX 5px rotateX(0deg);
              transform: translateX 5px rotateX(0deg);
    }
    15% {
      opacity: 0.7;
      -webkit-transform: translateX -100px rotateX(30deg);
              transform: translateX -100px rotateX(30deg);
    }
    30% {
      -webkit-transform: translateX -100px rotateX(70deg);
              transform: translateX -100px rotateX(70deg);
    }
    60% {
      -webkit-transform: translateX -100px rotateX(45);
              transform: translateX -100px rotateX(45);
    }
    75% {
      -webkit-transform: translateX -100px rotateX(60deg);
              transform: translateX -100px rotateX(60deg);
    }
    100% {
      top: 400%;
      -webkit-transform: translateX -100px rotateX(200deg);
              transform: translateX -100px rotateX(200deg);
    }
  }

  iv#footer {
    width: 50%;
    margin: -250px auto;
    text-align: center;
    font-size: 1.5em;
  }
  
  div#footer button {
    clear: both;
    font-size: 1.5em;
    border-radius: 20px;
    margin-bottom: 40px;
  }